@page "/User/{Id}"
@using PostHive.Services
@inject UserService UserService
@inject UserState UserState
@inject PostService PostService
@inject NavigationManager NavigationManager
@inject CookiesService CookiesService
@inject RelationshipService RelationshipService

@if (_userContext != null && !loading)
{
    <PageTitle>@_userContext.Name</PageTitle>

        <PostHive.Components.Pages.Tags.Utils.UserHeader 
                            _userContext="@_userContext" 
                            RemoveFriend="(User user) => RefreshFriends(user, ActionType.Remove)"
                            AddFriend="(User user) => RefreshFriends(user, ActionType.Add)">
        </PostHive.Components.Pages.Tags.Utils.UserHeader>
        <div style="margin-top: 3rem;"></div>


        <PostHive.Components.Pages.Tags.Posts.PostSection 
            UserContext="_userContext"
            CurrentUser="UserState.CurrentUser"/>

}
else
{
    <PostHive.Components.Pages.Tags.Utils.SpinCircle/>
}