<MudDialog>
    <TitleContent>
        @Title
    </TitleContent>
    <DialogContent>
        <h3>@Content</h3>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">No</MudButton>
        <MudButton OnClick="Ok">Yes</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Content { get; set; } = "";

    void Cancel() => MudDialog.Cancel();
    void Ok() => MudDialog.Close(DialogResult.Ok(true));
}